<div class="search-product">
    <form action="#" class="form form-search">
        <input class="input-search" type="text" placeholder="search...">
        <div class="btn btn-search">
            <i class="bi bi-search"></i>
        </div>
    </form>
</div>
<div class="accordion" id="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="categories">
            <div
                    class="btn accordion-button"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#categories-coll"
                    aria-expanded="true"
                    aria-controls="categories-coll"
                    onclick="changeCollapse('categories-coll-1')"
            >
                CATEGORIES
            </div>
        </h2>
        <div
                id="categories-coll-1"
                class="show collapse"
                aria-labelledby="categories"
        >
            <div class="list-item">
                <ul style="list-style: none; text-align: left; margin-left: -10px">
                    <li>
                        <a class="text-decoration-none text-dark" href="#">Arts & Photography</a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-dark" href="#">Food & Drink</a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-dark" href="#">Romance</a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-dark" href="#">Health</a>
                    </li>
                    <li>
                        <a  class="text-decoration-none text-dark" href="#">Biography</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="branding">
            <div
                    class="btn accordion-button"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#branding-coll"
                    aria-expanded="true"
                    aria-controls="branding-coll"
                    onclick="changeCollapse('branding-coll-1')"
            >
                Author
            </div>
        </h2>
        <div
                id="branding-coll-1"
                class="collapse show"
                aria-labelledby="branding"
        >
            <div class="list-item">
                <ul style="list-style: none; text-align: left; margin-left: -10px">
                    <li>
                        <a class="text-decoration-none text-dark" href="#">A J. Finn</a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-dark" href="#">Anne Frank</a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-dark" href="#">Daniel H. Pink</a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-dark" href="#">David Quammen</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="filterPrice">
            <div
                    class="btn accordion-button"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#filterPrice-coll"
                    aria-expanded="true"
                    aria-controls="filterPrice-coll"
                    onclick="changeCollapse('filterPrice-coll-1')"
            >
                FILTER PRICE
            </div>
        </h2>
        <div
                id="filterPrice-coll-1"
                class="collapse show"
                aria-labelledby="filterPrice"
        >
            <div class="list-item">
                <ul style="list-style: none; text-align: left; margin-left: -10px">
                    <li>
                        <a class="text-decoration-none text-dark" href="#">$00 - $50</a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-dark" href="#">$50 - $100</a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-dark" href="#">$100 - $150</a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-dark" href="#">$150 - $200</a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-dark" href="#">$200 - $250</a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-dark" href="#">$250+</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

