<h1>{{user}}</h1>
<div>
    <i class="bi bi-activity"></i>
</div>
<ul>
    <li><a href="/admin/register" class="text-decoration-none text-danger">Click here to Register</a></li>
    <li><a href="/admin/login">Login</a></li>
</ul>
