
<div class="container">
    <div class="text-center">
        <div class="h2 text-black">
            <i class="bi bi-person"></i> Create Account
        </div>
    </div>
    <form class="form" id="formRegister" action="register" method="post">
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First name" name="first_name" value="Lam">
            <span id="err-first-name"></span>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last name" name="last_name">
            <span id="err-last-name"></span>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" placeholder="Phone" name="phone">
            <span id="err-phone"></span>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="email" name="email">
            <span>{{message}}</span>
            <span id="err-email"></span>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="" name="password">
            <span id="err-password"></span>
        </div>
        <div class="mb-3">
            <label for="cPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="cPassword" placeholder="" name="c_password">
            <span id="err-cPassword"></span>
        </div>
        <div class="text-center submit">
            <div class="btn btn-dark btn-submit" type="button"  onclick="submitRegister()">Register</div>
            <p class="mb-2">Already have an account? <a class="text-danger text-decoration-none" href="/auth/login">Login</a></p>
        </div>
    </form>
</div>
