.item-order{
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
}
.item-detail{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    padding-top: 10px;
}
.product{
    display: flex;
}
.title-product-order{
    margin: auto 10px;
}
.price{
    margin: auto 0;
    color: red;
    font-size: 18px;
}
.order{
    padding: 60px 60px;
}
.item-order-header{
    display: flex;
    justify-content: space-between;
}
.status{
    color: green;
}
.image-o-p{
    width: 100px;
    height: 140px;
}
