.shop-product{
    margin-top: 100px;
}
.list-product{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px -5px;
}
.list-product .card-product{
    width: calc(25% - 10px);
    margin: 10px 5px;
}
@media (max-width: 576px) {
    .list-product .card-product{
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .list-product .card-product{
        width: calc(50% - 10px);
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .list-product .card-product{
        width: calc(33.33% - 10px);
    }
}

.select-sort{
    border: none;
    border-bottom: 1px solid gray;
    padding-bottom: 6px;
}
